[submodule "dependencies/json"]
	path = dependencies/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/json-schema-validator"]
	path = dependencies/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
[submodule "dependencies/geos"]
	path = dependencies/geos
	url = https://github.com/libgeos/geos.git
[submodule "dependencies/glog"]
	path = dependencies/glog
	url = https://github.com/google/glog.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/gflags"]
	path = dependencies/gflags
	url = https://github.com/gflags/gflags.git
